@tailwind base;
@tailwind components;
@tailwind utilities;

h3 {
  @apply text-4xl font-bold pt-7 pb-6 flex justify-center;
}
h4 {
  @apply text-xl font-semibold;
}
p {
  @apply py-2;
}
 

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
  cursor: none;
}

.cursor{
  position: fixed;
  background: rgb(18, 145, 214);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  will-change: transform;
  margin: -10px 0 0 -10px;
  user-select: none;
  pointer-events: none;
  transition: 0.2s ease;

}

.card-size>span{
  width: 360px!important;
  height: 224px!important;
}


.custom-img-1{
  background-image: url('../public/Home/Konarka_Temple.jpg')
}

.custom-img-2 {
  background-image: url('../public/Home/Taj_mahal.avif')
}

.custom-img-3{
  background-image: url('../public/Home/golden_temple.webp')
}
.custom-img-4{
  background-image: url('../public/Home/Hampi_virupaksha_temple.jpg')
}

.custom-img-5{
  background-image: url('../public/Home/mahadev-1008-shivlinga-khajuraho.jpg')
}

.custom-img-6{
  background-image: url('../public/Home/Wat-Thai-Temple-Kushinagar.webp')
}

.explore {
  background: transparent;
  background: linear-gradient(to left, transparent 50%, white 50%) right;
  background-size: 200%;
  transition: .5s ease-out;
}
.explore:hover {
  background-position: left;
}


::-moz-selection {
  background: #f3f4f6;
  color: #1f2937;
}

::selection {
  background: #b5b7bb;
  color: #1f2937;
}

@media screen and (max-width: 768px) {
  .state-size>span{
    width: 360px!important;
    height: 218px!important;
  }
  
}