@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;
}

.card-size>span{
  width: 360px!important;
  height: 224px!important;
}


.custom-img-1{
  background-image: url('../public/Home/Konarka_Temple.jpg')
}

.custom-img-2 {
  background-image: url('../public/Home/Taj_mahal.avif')
}

.custom-img-3{
  background-image: url('../public/Home/golden_temple.webp')
}
.custom-img-4{
  background-image: url('../public/Home/Hampi_virupaksha_temple.jpg')
}

.custom-img-5{
  background-image: url('../public/Home/mahadev-1008-shivlinga-khajuraho.jpg')
}

.custom-img-6{
  background-image: url('../public/Home/Wat-Thai-Temple-Kushinagar.webp')
}

.explore {
  background: transparent;
  background: linear-gradient(to left, transparent 50%, white 50%) right;
  background-size: 200%;
  transition: .5s ease-out;
}
.explore:hover {
  background-position: left;
}


@media screen and (max-width: 768px) {
  .state-size>span{
    width: 360px!important;
    height: 218px!important;
  }
  
}